{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/sandstone/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
Hello
       <div class="row" id="image">
    <div class="col-md-6 col-md-offset-3">
        {{ products.name }}
          {{ products.description}}
          {{ products.price }}   
    {% if products.image %}
        <img src="{{MEDIA_URL}}{{products.image}}"></img>
     {% endif %}
     <form action="{% url 'add_to_cart' %}" method="post">
              {% csrf_token %}
              <input type="hidden" id="id" name="id" value="{{products.id}}"/>
              <input type="hidden" id="quantity" name="quantity" value="1"/>
              <input class="btn btn-success" type="submit" value="Add To Cart"/>
            </form>
                  
            <div>
              <h2>Product Reviews</h2>
            </div>
      <div>

              {% for review in products.reviews_received.all %}
              <p>{{review.content}}</p>
              <p><small >Rating {{review.rating}}</small></p>
              <p><small class="text-muted">Posted by {{review.reviewer.username}}</small></p>
              <hr>
              {%endfor%}
              </div>
              <form method="post" action="{% url 'add_a_review' %}">
                {% csrf_token %}
                
                {{ review_form | as_bootstrap }}
                
                <input type="hidden" name="product" value="{{products.id}}"/>
                <input type="submit" class="btn btn-success" value="Leave Review"/>
              </form>
           
          </div>
    </div>
</div>
         
          
         
          
          
         
                        
</body>
</html>


















   