{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}

       <div class="row" id="image">
    <div class="col-md-6 col-md-offset-3">
        {{ products.name }}
          {{ products.description}}
          {{ products.price }}   
    {% if products.image %}
        <img src="{{MEDIA_URL}}{{products.image}}"></img>
     {% endif %}
     <form action="{% url 'add_to_cart' %}" method="post">
              {% csrf_token %}
              <input type="hidden" id="id" name="id" value="{{products.id}}"/>
              <input type="hidden" id="quantity" name="quantity" value="1"/>
              <input class="btn btn-success" type="submit" value="Add To Cart"/>
            </form>
                  
            <div>
              <h2>Product Reviews</h2>
            </div>
      <div>

              {% for review in products.reviews_received.all %}
              <p>{{review.content}}</p>
              <p><small >Rating {{review.rating}}</small></p>
              <p><small class="text-muted">Posted by {{review.reviewer.username}}</small></p>
              <hr>
              {%endfor%}
              </div>
              <form method="post" action="{% url 'add_a_review' %}">
                {% csrf_token %}
                
                {{ review_form | as_bootstrap }}
                
                <input type="hidden" name="product" value="{{products.id}}"/>
                <input type="submit" class="btn btn-success" value="Leave Review"/>
              </form>
           
          </div>
    </div>
</div>

{% endblock %}        
          
         
          
          
         
 
















   